footer {
  grid-area: footer;
  background-color: brown;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
}